<mtapp:setting
    id="whois-services"
    label="<__trans phrase="WHOIS Services">"
    hint="<__trans phrase="%s will be replaced with IP address to be ivestigated">"
    show_hint="1">
<textarea name="whois" wrap="off" class="text high"><mt:var name="whois" escape="html"></textarea>
</mtapp:setting>
